.ReactModalPortal>div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  max-width: 70%;
  padding: 3rem 7rem;
  border-radius: $m-size;
  background: $light-purple;
  text-align: center;
  outline: none;
  font-size: $lg-size;
}

.modal__title {
  margin: 0;
}

.modal__option {
  font-weight: bold;
  padding: $xl-size 0;
  word-break: break-all;
}